<p><%= link_to "Back", hospital_patients_path(@hospital) %></p>
<h1>
<%= @patient.first_name %>
</h1>
<p>
<%= @patient.last_name %>
</p>
<p>
<%= @patient.born_on %>
</p>

<p>
<%= link_to "Edit", edit_hospital_patient_path(@hospital,@patient) %>
<%= link_to "Destroy this patient!", hospital_patient_path(@hospital,@patient) , method: :delete %>
</p>